<div class="col-sm-offset-4 col-sm-4 col-xs-12">
<%= form_for(@temat, html: { multipart: :true, class: "form" }) do |f| %>
  <% if @temat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@temat.errors.count, "error") %> prohibited this temat from being saved:</h2>

      <ul>
      <% @temat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :title, class: "form-control", placeholder: "Tytuł"%>
  </div>
  <div class="form-group">
    <%= f.text_area :description, class: "form-control", placeholder: "Opis" %>
  </div class="actions">
    <%= f.submit "Submit", class: "btn btn-success" %>
    <%= link_to "Back", :back, class: "btn btn-primary" %>
  </div>
<% end %>
